Solution for Exercise 2.1

In [1]:
icecreamrating = 10
sleeprating = 6
name = "sophia"

In [2]:
happiness = (icecreamrating + sleeprating)/2
print(happiness)

8.0

In [3]:
type(icecreamrating)

int

In [4]:
type(sleeprating)

int

In [5]:
type(name)

str

In [6]:
type(happiness)

float

In [7]:
print("My name is", name, 
      "and I give eating ice cream a score of", icecreamrating,
      "out of 10! My sleeping enjoyment rating is", sleeprating, "/ 10! Based on the factors above, my happiness rating is", happiness, "out of 10 or 80 %!")

My name is sophia and I give eating ice cream a score of 10 out of 10! My sleeping enjoyment rating is 6 / 10! Based on the factors above, my happiness rating is 8.0 out of 10 or 80 %!

Solution for Exercise 2.2

In [8]:
station_names = ["lighthouse", "Harmaja", "Sumenlinna aaltopoiju", "Kumpula", "Kaisaniemi"]
station_names

['lighthouse', 'Harmaja', 'Sumenlinna aaltopoiju', 'Kumpula', 'Kaisaniemi']

In [9]:
first_year_operation = ["2003", "1989", "2016", "2005", "1844"]
first_year_operation

['2003', '1989', '2016', '2005', '1844']

In [10]:
station_names.append("Malmi airfield")
station_names.append("Vuosaari harbor")
station_names.append("Kaivopuisto")
station_names

['lighthouse',
 'Harmaja',
 'Sumenlinna aaltopoiju',
 'Kumpula',
 'Kaisaniemi',
 'Malmi airfield',
 'Vuosaari harbor',
 'Kaivopuisto']

In [11]:
first_year_operation.append("1937")
first_year_operation.append("2012")
first_year_operation.append("1904")
first_year_operation

['2003', '1989', '2016', '2005', '1844', '1937', '2012', '1904']

In [12]:
station_names.sort(key=str.lower)
station_names
# need to consider the lighthouse bc it's lowercase and will otherwise be last

['Harmaja',
 'Kaisaniemi',
 'Kaivopuisto',
 'Kumpula',
 'lighthouse',
 'Malmi airfield',
 'Sumenlinna aaltopoiju',
 'Vuosaari harbor']

In [13]:
first_year_operation.sort()
first_year_operation
# the years are in order by date, but do not align with the station names

['1844', '1904', '1937', '1989', '2003', '2005', '2012', '2016']

In [14]:
a = (station_names)
b = (first_year_operation)

x = zip(a, b)

list(x)

[('Harmaja', '1844'),
 ('Kaisaniemi', '1904'),
 ('Kaivopuisto', '1937'),
 ('Kumpula', '1989'),
 ('lighthouse', '2003'),
 ('Malmi airfield', '2005'),
 ('Sumenlinna aaltopoiju', '2012'),
 ('Vuosaari harbor', '2016')]

Solution for 2.3

In [15]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
month

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [16]:
celsius = ["-3.5", "-4.5", "-1.0", "4.0", "10.0", "15.0", "18.0", "16.0", "11.5", "6.0", "2.0", "-1.5"]
celsius

['-3.5',
 '-4.5',
 '-1.0',
 '4.0',
 '10.0',
 '15.0',
 '18.0',
 '16.0',
 '11.5',
 '6.0',
 '2.0',
 '-1.5']

In [17]:
print("The average temperature in Helsinki in", month[0], "is", celsius[0])

The average temperature in Helsinki in January is -3.5

In [18]:
print("The average temperature in Helsinki in", month[1], "is", celsius[1])

The average temperature in Helsinki in February is -4.5

In [19]:
print("The average temperature in Helsinki in", month[2], "is", celsius[2])

The average temperature in Helsinki in March is -1.0

In [20]:
print("The average temperature in Helsinki in", month[3], "is", celsius[3])

The average temperature in Helsinki in April is 4.0

In [21]:
print("The average temperature in Helsinki in", month[4], "is", celsius[4])

The average temperature in Helsinki in May is 10.0

In [22]:
print("The average temperature in Helsinki in", month[5], "is", celsius[5])

The average temperature in Helsinki in June is 15.0

In [23]:
print("The average temperature in Helsinki in", month[6], "is", celsius[6])

The average temperature in Helsinki in July is 18.0

In [24]:
print("The average temperature in Helsinki in", month[7], "is", celsius[7])

The average temperature in Helsinki in August is 16.0

In [25]:
print("The average temperature in Helsinki in", month[8], "is", celsius[8])

The average temperature in Helsinki in September is 11.5

In [26]:
print("The average temperature in Helsinki in", month[9], "is", celsius[9])

The average temperature in Helsinki in October is 6.0

In [27]:
print("The average temperature in Helsinki in", month[10], "is", celsius[10])

The average temperature in Helsinki in November is 2.0

In [28]:
print("The average temperature in Helsinki in", month[11], "is", celsius[11])

The average temperature in Helsinki in December is -1.5

Solution for 2.4

In [44]:
station_name=['Station_0.txt', 'Station_1.txt', 'Station_2.txt', 'Station_3.txt',
 'Station_4.txt', 'Station_5.txt', 'Station_6.txt', 'Station_7.txt',
 'Station_8.txt', 'Station_9.txt', 'Station_10.txt', 'Station_11.txt',
 'Station_12.txt', 'Station_13.txt', 'Station_14.txt', 'Station_15.txt',
 'Station_16.txt', 'Station_17.txt', 'Station_18.txt', 'Station_19.txt',
 'Station_20.txt']

In [45]:
for i in range(0,21,1):
    file_name=f"Station_{i}.txt"
    station_name.append(file_name)
print(station_name)

['Station_0.txt', 'Station_1.txt', 'Station_2.txt', 'Station_3.txt', 'Station_4.txt', 'Station_5.txt', 'Station_6.txt', 'Station_7.txt', 'Station_8.txt', 'Station_9.txt', 'Station_10.txt', 'Station_11.txt', 'Station_12.txt', 'Station_13.txt', 'Station_14.txt', 'Station_15.txt', 'Station_16.txt', 'Station_17.txt', 'Station_18.txt', 'Station_19.txt', 'Station_20.txt', 'Station_0.txt', 'Station_1.txt', 'Station_2.txt', 'Station_3.txt', 'Station_4.txt', 'Station_5.txt', 'Station_6.txt', 'Station_7.txt', 'Station_8.txt', 'Station_9.txt', 'Station_10.txt', 'Station_11.txt', 'Station_12.txt', 'Station_13.txt', 'Station_14.txt', 'Station_15.txt', 'Station_16.txt', 'Station_17.txt', 'Station_18.txt', 'Station_19.txt', 'Station_20.txt']