## Section 2.5-2.7 from HW 1

## Solution to 2.5

In [1]:
temperature = [-5.4, 1.0, -1.3, -4.8, 3.9, 0.1, -4.4, 4.0, -2.2, -3.9, 4.4,
                -2.5, -4.6, 5.1, 2.1, -2.4, 1.9, -3.3, -4.8, 1.0, -0.8, -2.8,
                -0.1, -4.7, -5.6, 2.6, -2.7, -4.6, 3.4, -0.4, -0.9, 3.1, 2.4,
                1.6, 4.2, 3.5, 2.6, 3.1, 2.2, 1.8, 3.3, 1.6, 1.5, 4.7, 4.0,
                3.6, 4.9, 4.8, 5.3, 5.6, 4.1, 3.7, 7.6, 6.9, 5.1, 6.4, 3.8,
                4.0, 8.6, 4.1, 1.4, 8.9, 3.0, 1.6, 8.5, 4.7, 6.6, 8.1, 4.5,
                4.8, 11.3, 4.7, 5.2, 11.5, 6.2, 2.9, 4.3, 2.8, 2.8, 6.3, 2.6,
                -0.0, 7.3, 3.4, 4.7, 9.3, 6.4, 5.4, 7.6, 5.2]

In [2]:
cold = []
slippery = []
comfortable = []
warm = []

for i in range(len(temperature)):
    if temperature[i] < -2.0:
        cold.append(temperature[i])
    elif (temperature[i] >= -2.0) and (temperature[i] < 2.0):
        slippery.append(temperature[i])
    elif (temperature[i] >= 2.0) and (temperature[i] < 15.0):
        comfortable.append(temperature[i])
    elif temperature[i] >= 2.0:
        warm.append(temperature[i])

In [3]:
print(len(cold))

15

In [4]:
print(len(comfortable))

59

In [5]:
print(len(warm))

0

## Solution for section 2.6

In [6]:
def fahr_to_celsius(temp):
    deg_C = (temp - 32) * 5/9
    return deg_C

In [8]:
temp = 32

fahr_to_celsius(temp)

0.0

In [9]:
temp = 68

fahr_to_celsius(temp)

20.0

In [10]:
temp = 91

fahr_to_celsius(temp)

32.77777777777778

In [11]:
temp = -17

fahr_to_celsius(temp)

-27.22222222222222

## Solution for 2.7

In [53]:
def classify_temp(temperature):
    if temperature < -2.0:
        return 0
    elif (temperature >= -2.0) and (temperature < 2.0):
        return 1
    elif (temperature >= 2.0) and (temperature < 15.0):
        return 2
    elif temperature >= 2.0:
        return 3

In [54]:
temps = [17.0, 2.0, 1.9, -2]

In [55]:
for i in range(len(temps)):
    print(classify_temp(temps[i]))

3
2
1
1

## Solution for 3.1

In [98]:
import pandas as pd

In [99]:
fp = "data/6153237444115dat.csv"

In [100]:
data = pd.read_csv(fp)

In [101]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,1009.2,*****,984.1,***,***,*****,*****,*****,*****,35
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,1009.1,*****,984.0,***,***,*****,*****,*****,*****,35
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**

There are 5 rows.

The column names are: 'USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L',
       'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2',
       'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01',
       'PCP06', 'PCP24', 'PCPXX', 'SD'],

The data types of the columns are below

In [102]:
data.dtypes

USAF             int64
WBAN             int64
YR--MODAHRMN     int64
DIR             object
SPD             object
GUS             object
CLG             object
SKC             object
L               object
M               object
H               object
VSB             object
MW              object
MW.1            object
MW.2            object
MW.3            object
AW              object
AW.1            object
AW.2            object
AW.3            object
W               object
TEMP            object
DEWP            object
SLP             object
ALT             object
STP             object
MAX             object
MIN             object
PCP01           object
PCP06           object
PCP24           object
PCPXX           object
SD              object
dtype: object

In [103]:
data.columns

Index(['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L',
       'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2',
       'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01',
       'PCP06', 'PCP24', 'PCPXX', 'SD'],
      dtype='object')

In [104]:
data.loc[0:11694, ['TEMP']]

      TEMP
0       31
1       30
2       30
3       31
4       30
...    ...
11689   64
11690   64
11691   64
11692   64
11693   64

[11694 rows x 1 columns]

In [140]:
temp_list = []
for i  in range(len(data["TEMP"])):
    if data["TEMP"][i] != "****":
        temp_list.append(float(data["TEMP"][i]))
        
# used to remove the blank data points and change the data points from str to float

In [106]:
np.mean(temp_list)

52.24796852279531

In [107]:
max_list = []
for i  in range(len(data["MAX"])):
    if data["MAX"][i] != "***":
        max_list.append(float(data["MAX"][i]))

In [108]:
np.std(max_list)

10.297378706760895

In [109]:
np.unique(data["USAF"])

array([28450, 29980])

## Solution for 3.2

In [117]:
selected = ["USAF", "YR--MODAHRMN", "TEMP", "MAX", "MIN"]
print(selected)

['USAF', 'YR--MODAHRMN', 'TEMP', 'MAX', 'MIN']

In [118]:
data["TEMP"].dropna()

0        31
1        30
2        30
3        31
4        30
         ..
11689    64
11690    64
11691    64
11692    64
11693    64
Name: TEMP, Length: 11694, dtype: object

In [120]:
data["CELSIUS"] = 0.0
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD,CELSIUS
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,*****,984.1,***,***,*****,*****,*****,*****,35,0.0
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,0.0
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,0.0
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,*****,984.0,***,***,*****,*****,*****,*****,35,0.0
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,0.0

In [143]:
celsius = []
for i in range(len(data["TEMP"])):
    if data["TEMP"][i] != "****":
        celsius.append((float(data["TEMP"][i]) - 32) / 1.8)
    else: 
        celsius.append("****")

In [144]:
data["CELSIUS"] = celsius

In [171]:
celsius_rounded = []
for i in range(len(celsius)):
    if celsius[i] != "****":
        celsius_rounded.append(round(celsius[i]))
    else:
        celsius_rounded.append("****")

In [173]:
data["CELSIUS"] = celsius_rounded

In [174]:
data["CELSIUS"]

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
11689    18
11690    18
11691    18
11692    18
11693    18
Name: CELSIUS, Length: 11694, dtype: object

In [183]:
celsius_list = []
for i  in range(len(data["CELSIUS"])):
    if data["CELSIUS"][i] != "****":
        celsius_list.append(int(data["CELSIUS"][i]))
    else:
        celsius_list.append("****")


- doing astype(int) does not work because of the non-data points. when removing the non-data, it changes the length of the data set and does not allow the astype(int) function to work

In [186]:
data["CELSIUS"] = celsius_list
print(data["CELSIUS"])

#it will never show all int because of the asterisks, but when 
# they're removed it doesn't work because the data set is a different lenth

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
11689    18
11690    18
11691    18
11692    18
11693    18
Name: CELSIUS, Length: 11694, dtype: object

In [199]:
kumpula = data.loc[data["USAF"] == 29980]

In [200]:
kumpula

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD,CELSIUS
8770,29980,99999,201705010000,206,14,20,722,SCT,*,*,...,*****,1021.9,***,***,*****,*****,*****,*****,0,3
8771,29980,99999,201705010100,198,14,23,722,SCT,*,*,...,*****,1022.2,***,***,*****,*****,*****,*****,0,3
8772,29980,99999,201705010200,216,13,21,722,SCT,*,*,...,*****,1022.0,***,***,*****,*****,*****,*****,0,3
8773,29980,99999,201705010300,200,16,***,***,***,*,*,...,*****,1022.2,***,***,*****,*****,*****,*****,**,3
8774,29980,99999,201705010400,220,14,21,722,CLR,*,*,...,*****,1022.5,***,***,*****,*****,*****,*****,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,29980,99999,201708311900,144,12,20,50,BKN,*,*,...,*****,1004.7,***,***,*****,*****,*****,*****,0,18
11690,29980,99999,201708312000,137,14,20,40,BKN,*,*,...,*****,1003.9,***,***,*****,*****,*****,*****,0,18
11691,29980,99999,201708312100,160,13,***,***,BKN,*,*,...,*****,1003.2,***,***,*****,*****,*****,*****,**,18
11692,29980,99999,201708312200,170,12,21,28,OVC,*,*,...,*****,1003.1,***,***,*****,*****,*****,*****,0,18
11693,29980,99999,201708312300,192,13,21,19,BKN,*,*,...,*****,1002.8,***,***,*****,*****,*****,*****,0,18

In [201]:
rovaniemi = data.loc[data["USAF"] == 28450]

In [202]:
rovaniemi

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD,CELSIUS
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,*****,984.1,***,***,*****,*****,*****,*****,35,-1
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,-1
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,-1
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,*****,984.0,***,***,*****,*****,*****,*****,35,-1
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8765,28450,99999,201708312220,120,3,***,***,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,8
8766,28450,99999,201708312250,130,2,***,170,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,8
8767,28450,99999,201708312300,066,4,***,***,***,*,*,...,*****,983.3,***,***,*****,*****,*****,*****,**,9
8768,28450,99999,201708312320,150,5,***,***,***,*,*,...,29.74,******,***,***,*****,*****,*****,*****,**,8
8769,28450,99999,201708312350,160,6,***,***,***,*,*,...,29.71,******,***,***,*****,*****,*****,*****,**,9

In [205]:
kumpula.to_csv("Kumpula_temps_May_Aug_2017.csv",  sep=',', float_format='%.2f')

In [206]:
rovaniemi.to_csv("Rovaniemi_temps_May_Aug_2017.csv",  sep=',', float_format='%.2f')

## Solution for 3.3 (i started it, but then realized we should only go to 3.2)

In [211]:
fp1 = "Kumpula_temps_May_Aug_2017.csv"
kumpula = pd.read_csv(fp1)

In [212]:
fp2 = "Rovaniemi_temps_May_Aug_2017.csv"
rovaniemi = pd.read_csv(fp2)

In [215]:
kumpula_median = kumpula["CELSIUS"].median()
print(kumpula_median)

14.0

In [236]:
rovaniemi_list = []
for i  in range(len(rovaniemi["CELSIUS"])):
    if rovaniemi["CELSIUS"][i] != "****":
        rovaniemi_list.append(int(rovaniemi["CELSIUS"][i]))

In [244]:
rovaniemi_median = np.median(rovaniemi_list)
print(rovaniemi_median)

11.0